<span class="ntf-remove-field" {{action removeField model}} title={{i18n "new_topic_form.admin.delete_field"}}>
  {{d-icon "times"}}
</span>

<div class="ntf-row">
  <label>
    {{i18n "new_topic_form.admin.unique_id"}}
  </label>

  {{input type="text" value=model.id}}
</div>

<div class="ntf-row">
  <label>
    {{i18n "new_topic_form.admin.label"}}
  </label>

  {{input type="text" value=model.label}}
</div>

<div class="ntf-row">
  <label>
    {{i18n "new_topic_form.admin.required"}}
  </label>

  {{input type="checkbox" checked=model.required}}
</div>

<div class="ntf-row">
  <label>
    {{i18n "new_topic_form.admin.type"}}
  </label>

  {{combo-box
    content=validTypes
    value=model.type
    valueProperty=null
    nameProperty=null
    onChange=(action (mut model.type))
  }}
</div>

{{#if showRegex}}
  <div class="ntf-row">
    <label>
      {{i18n "new_topic_form.admin.regexp"}}
    </label>

    {{input type="text" value=model.regexp}}
  </div>

  <div class="ntf-row">
    <label>
      {{i18n "new_topic_form.admin.regexp_flags"}}
    </label>

    {{input type="text" value=model.regexp_flags}}
  </div>
{{/if}}

{{#if (ntf-eq model.type "dropdown")}}
  <div class="ntf-row">
    <label>
      {{i18n "new_topic_form.admin.options"}}
    </label>

    {{input type="text" value=model.options}}
  </div>
{{/if}}

{{#if showPlaceholder}}
  <div class="ntf-row">
    <label>
      {{i18n "new_topic_form.admin.placeholder"}}
    </label>

    {{input type="text" value=model.placeholder}}
  </div>
{{/if}}

{{plugin-outlet
  name="new-topic-form-field-setting"
  args=(hash model=model)
}}
