<div>
  <label class="btn" disabled={{uploading}}>
    {{d-icon "upload"}}&nbsp;{{btnText}}
    <input class="hidden-upload-field" disabled={{uploading}} type="file">
  </label>

  {{#if uploading}}
    <span>
      {{loading-spinner size="small"}}
      {{uploadProgress}}%
    </span>
  {{/if}}
</div>

{{#if value}}
  <div class="ntf-field-btn-result">
    <div class="ntf-field-btn-value">
      {{value.original_filename}}
    </div>

    <div class="ntf-field-btn-delete">
      {{d-button
        icon="times"
        action=(action "removeUpload")
        class="btn-small"
      }}
    </div>
  </div>
{{/if}}
